@font-face {
  font-family: 'SpaceMono';
  src:  url('../fonts/SpaceMono-Regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'SpaceMonoBold';
    src:  url('../fonts/SpaceMono-Bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'SpaceMonoItalic';
    src:  url('../fonts/SpaceMono-Italic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'SpaceMonoBoldItalic';
    src:  url('../fonts/SpaceMono-Bolditalic-webfont.woff') format('woff');
}