body,
html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, a, button {
    font-size: 100%;
    -webkit-font-smoothing: antialiased; /* Chrome, Safari */
    -moz-osx-font-smoothing: grayscale; /* Firefox */
}

h1, h2, h3, h4, h5, h6 {
    font-family: SpaceMonoBold, Impact, Haettenschweiler;
}

p, ul, ol, li, a, button {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}